<section class="py-4">
  @if (products.length > 0) {
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4"
  >
    @for (product of products; track product) {
    <div class="bg-white rounded-lg shadow p-3 flex flex-col justify-between">
      <!-- Wishlist Icons -->
      @if (!wishListData.includes(product._id)) {
      <i
        class="fa-regular fa-heart text-yellow-500 cursor-pointer"
        (click)="addHeart(product._id)"
      ></i>
      } @if (wishListData.includes(product._id)) {
      <i
        class="fa-solid fa-heart text-yellow-500 cursor-pointer"
        (click)="removeHeart(product._id)"
      ></i>
      }

      <!-- Product Image & Info -->
      <header role="button" [routerLink]="['/productdetails', product._id]">
        <img
          class="w-full rounded"
          [src]="product.imageCover"
          [alt]="product.title"
          [title]="product.title"
        />
        <h3 class="text-sm font-semibold mt-2">
          {{ product.title | cuttext : 3 }}
        </h3>
        <h4 class="text-green-600 font-medium">{{ product.category.name }}</h4>

        <!-- Rating & Price -->
        <div class="flex justify-between items-center text-sm">
          <span>{{ product.price | currency : "e£" }}</span>
          <p class="flex items-center gap-1 text-gray-600">
            @for (num of [1, 2, 3, 4, 5]; track num) {
            <i
              class="fa-solid fa-star"
              [class.text-yellow-500]="product.ratingsAverage >= num"
            ></i>
            }
            <span class="text-gray-500">{{ product.ratingsAverage }}</span>
          </p>
        </div>
      </header>

      <!-- Add to Cart Button -->
      <footer>
        <button
          (click)="addProduct(product._id, btnAdd)"
          #btnAdd
          class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition"
        >
          + Add To Cart
        </button>
      </footer>
    </div>
    }
  </div>
  }
</section>
